html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    min-width: 1200px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: "microsoft yahei";
}

.clearfix:before,.clearfix:after{display: table;content: "";}
.clearfix:after{clear: both}
.box {
    display: flex;
    justify-content: space-between;
}
.specialBox {
    display: flex;
    justify-content: center;
}
.w {
    width: 1200px;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-14 {
    font-size: 14px;
}

.text-12 {
    font-size: 12px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.hidden {
    display: none !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.min-w {
    min-width: 1200px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.marT45 {
    margin-top: 45px;
}

.marT20 {
    margin-top: 20px;
}

.marB20 {
    margin-bottom: 20px;
}

.text-white {
    color: #FFFFFF !important;
}

.mar200 {
    margin: 0 200px;
}

/*底部样式*/
.footer {
    padding: 20px 0 35px;
    background: #131517;
    text-align: left;
    color: #D8D8D8;
    font-size: 14px;
}

.footer .f_link{
    width: 845px;
}
.footer .f_contact{
    width: 270px;
}

.footer div.pull-left ul{
    padding-top: 15px;
}

.footer div.pull-left ul li{
    display: inline-block;
    padding: 0 20px 0 0;
    position: relative;
}

.footer div.pull-left ul li:before{
    content: "";
    height: 14px;
    width: 1px;
    background: #D1D1D1;
    display: block;
    position: absolute;
    right: 7px;
    top: 1px;
}

.footer div.pull-left ul li:nth-child(1):before,.footer div.pull-left ul li:nth-last-child(1):before{
    display: none;
}

.footer div.pull-left ul a{
    color:#D8D8D8;
}

.footer div.pull-left ul a:hover{
    text-decoration: underline;
}

.footer div.pull-left p{
    padding-top: 15px;
}

.footer div.pull-left p a{
    color: #D8D8D8;
}

.footer .qr-code {
    width: 80px;
    height: 80px;
    float: right;
    margin-top: 10px;
}

.footer .qr-code img {
    width: 100%;
}

.footer .icp{
  text-align: center;
  padding-top: 15px;
}

.white-link {
  color: #D8D8D8;
}

.white-link:hover {
  color: grey;
}

.navber {
    height: 80px;
    overflow: hidden;
}

/*顶部样式*/
.navbar{height: 60px; background: #252b3a; position: relative;transition: all 0.5s;}
.navbar .logo{height: 30px; float: left; margin-top: 15px;}
.navbar .logo img{height: 100%;}
.navbar .logo span{color: #ccc; font-size: 12px; float: right; margin-left: 15px; margin-top: 12px;}
.navbar .nav{float: right; }
.navbar .nav >ul >li{padding: 0 30px;line-height: 58px; float: left; height: 60px; box-sizing: border-box;}
.navbar .nav >ul >li >a{font-size: 14px; color: #fff;}
.navbar .nav .slide{position: absolute; width: 100%; z-index: 9; background: #212634; top: 59px; left: 0;}
.navbar .nav >ul >li.on>a {color: #5391d6;}
.navbar .slide{display: none;}
.navbar .slide .w{display: flex;}
.navbar .slide .w .row{flex: 1; padding: 0 20px 20px;}
.navbar .slide .row .grid-item-title{font-size: 14px; margin-top: 20px; color: #fff; line-height: 20px;}
.navbar .slide .row .grid-item-list{border-bottom: 1px solid rgba(255,255,255,0.1); line-height: 18px; padding: 10px 0; font-size: 12px;}
.navbar .slide .row .grid-list-item{color: rgba(255,255,255,0.8); padding: 4px 0; display: inline-block;position: relative}
.navbar .slide .row .grid-item-list:nth-last-child(1){border-bottom: none;}
.navbar .nav >ul >li:hover >a,.navbar .slide .row .grid-list-item:hover{color: #5391D6;}
.navbar .nav >ul >li:hover,.navbar .nav >ul>li.on{border-bottom: 3px solid #5391D6;}
.navbar .slide .active a:before{position: absolute; content: "已上线"; right: -33px;color: #5391d6;font-size: 12px;transform: scale(0.7);top: -1px;font-weight: bolder;}
.loginBtn,.loginRes{ color: #fff;background: #9999991A; border:1px solid #5391d6; width: 65px;height: 32px;line-height: 32px;display: inline-block;text-align: center;border-radius: 5px;margin-top: 14px;font-size: 14px;}
.loginBtn{ margin-right: 5px;}
.loginBtn:hover,.loginRes:hover{background: #0000001A;}
.navbar .nav .pull-right{width: 145px; margin-left: 20px;}
.li-pos{position: relative;}
.about-slide{position: absolute; top: 60px; display: none; background: #252B3A; text-align: center; left: 0; width: 100%;}
.about-slide a{display: block; color: #fff;font-size:14px; line-height: 45px;}
.li-pos:hover .about-slide{display: block}

.tipbox{position: fixed;background: aliceblue;z-index: 9;width: 360px;height: 178px;overflow: hidden;left: 50%;margin-left: -180px;top: 50%;margin-top: -178px;border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tipbox header{text-align: center;line-height: 50px;font-size: 18px;color: #fff;background: rgba(77,170,232,1);margin-bottom: 15px;}
.tipbox .text{line-height: 25px;padding: 0 20px;color: #666;font-size: 15px;text-align: center;}
.tipbox button{display: block;background: rgba(77,170,232,1); outline: none; color: #fff;font-size: 15px; color: #fff; width: 100px;height: 30px;border-radius: 3px; margin: 15px auto 0; border: none; cursor: pointer; }